{
  "presets": [
    "@babel/preset-env"
  ],
  "moduleIds": true,
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-spread",
    "transform-vue-template"
  ],
  "ignore": [
    "i18n.js",
    "utils/localization.js",
    "nls/*"
  ]
}